<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195586430597-94aehn5atap1pdj8vaeak4s3h030t59m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195586430597-94aehn5atap1pdj8vaeak4s3h030t59m</string>
	<key>API_KEY</key>
	<string>AIzaSyA7IxJnsEhul6qC80fpZ5Km88Y5GxvZcTI</string>
	<key>GCM_SENDER_ID</key>
	<string>195586430597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sosApp</string>
	<key>PROJECT_ID</key>
	<string>sos-app-e6797</string>
	<key>STORAGE_BUCKET</key>
	<string>sos-app-e6797.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195586430597:ios:9cae8e9fd701e50dd67bec</string>
	<key>DATABASE_URL</key>
	<string>https://sos-app-e6797.firebaseio.com</string>
</dict>
</plist>